{% trans_default_domain 'FOSUserBundle' %}
<div id="snacks" class="se-pre-con"></div>
<body class="gray-bg">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <br><br><br><br>
                <img src="{{ asset('TemplateSimpleUser/images/design-agency/logo8.png') }}" style="width: 100%; height: 100%;" alt=""/>

            </div>
            <h3 style="color: white;">Resetting</h3>
            <div class=form-group">
                <label for="username" style="color: white;">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" required="required" class="form-control" /><br>
            </div>
            <div>
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}"  class="btn btn-primary block full-width m-b" />
                <a class="btn btn-sm btn-white btn-block" style="margin-top: 5px;" href={{ path('fos_user_security_login') }}>Return to Login</a>
            </div></div></div>

</form>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
<link href="{{ asset('css/plugins/iCheck/custom.css') }}" rel="stylesheet">
<script src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>
</body>