{% trans_default_domain 'FOSUserBundle' %}
<body class="gray-bg" >
<div id="snacks" class="se-pre-con"></div>
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <br><br><br><br>
            <img src="{{ asset('TemplateSimpleUser/images/design-agency/logo8.png') }}" style="width: 100%; height: 100%;" alt=""/>

        </div>
        <h3 style="color: white;">Register to Bien être & Santé</h3>
        <p style="color: white;">Create account to get a profile.</p>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register m-t'}}) }}

        <div class="form-group">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder':'Email'} }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'username'} }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword ) }}
        </div>
        <div>
            <input type="submit" class="btn btn-primary block full-width m-b" value="{{ 'registration.submit'|trans }}" />
            <h5>Already have an account?</h5>
            <a class="btn btn-sm btn-white btn-block" style="margin-top: 5px;" href={{ path('fos_user_security_login') }}>Login</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
</body>