<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Sartre | Multipurpose HTML5 Template - Photo Studio</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('templateUser/images/theme-mountain-favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('https://www.w3schools.com/w3css/4/w3.css') }}">
    <link href={{ asset('https://fonts.googleapis.com/css?family=Raleway:300,400,600%7CLato:300,400,700') }} rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="{{ asset('templateUser/css/core.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('templateUser/css/skin-photo-studio.css') }}" />



    <style type="text/css">

        .paging-nav {
            text-align: right;
            padding-top: 2px;
        }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    </style>


















</head>

<body class="shop home-page">

<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="reveal">
    <div class="side-navigation-scroll-pane">
        <div class="side-navigation-inner">
            <div class="side-navigation-header">
                <div class="navigation-hide side-nav-hide">
                    <a href="#">
                        <span class="icon-cancel medium"></span>
                    </a>
                </div>
            </div>
            <nav class="side-navigation center">
                <ul>
                    <li class="current">
                        <a  class="contains-sub-menu">Gestion Produit</a>
                        <ul class="sub-menu">



                            <li class="current">

                                <a href="{{ path('afficherProduitUser' )}}" >Vos Produits</a>

                            <li class="">
                                <a  href="{{ path('AjoutProduitUser' )}}">Ajout Prdouit</a>




                            </li>


                        </ul>


                </ul>
                </nav>
            <div class="side-navigation-footer center">
                <ul class="social-list list-horizontal center">
                    <li><a href="#"><span class="icon-twitter small"></span></a></li>
                    <li><a href="#"><span class="icon-facebook small"></span></a></li>
                    <li><a href="#"><span class="icon-instagram small"></span></a></li>
                </ul>



            </div>
        </div>
    </div>
</aside>
<!-- Side Navigation Menu End -->

<div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">

        <!-- Header -->
        <header class="header header-fixed-on-mobile" data-sticky-threshold="0" data-bkg-threshold="100">
            <div class="header-inner">
                <div class="row nav-bar">
                    <div class="column width-12 nav-bar-inner">
                        <div class="logo">
                            <div class="logo-inner">
                                <a href=""><img src="{{ asset('templateUser/logo.png') }}" alt="Sartre Logo" /></a>
                                <a href=""><img src="{{ asset('templateUser/logo.png') }}" alt="Sartre Logo" /></a>
                            </div>
                        </div>
                        <nav class="navigation nav-block secondary-navigation nav-right">
                            <ul>

                                <li>
                                    <div class="dropdown">

                                        <a href="#" class="nav-icon cart button no-page-fade">
										   	    	<span class="cart-indication"><span class="icon-shopping-cart"></span>
										     	    <span class="badge">3</span></span>
                                        </a>

                                        <a href="#" class="nav-icon cart button no-page-fade">

											<span class="cart-indication"><span class="fa fa-bell"></span>
										    <span class="badge">3</span></span></a>

                                        <ul class="dropdown-list custom-content cart-overview">
                                            <li class="cart-item">
                                                <a href="" class="product-thumbnail">
                                                    <img src="" alt="" />
                                                </a>
                                                <div class="product-details">
                                                    <a href="" class="product-title">
                                                        Cotton Jump Suit
                                                    </a>
                                                    <span class="product-quantity">2 x</span>
                                                    <span class="product-price"><span class="currency">$</span>15.00</span>
                                                    <a href="#" class="product-remove icon-cancel"></a>
                                                </div>
                                            </li>

                                            <li class="cart-item">
                                                <a href="" class="product-thumbnail">
                                                    <img src="" alt="" />
                                                </a>
                                                <div class="product-details">
                                                    <a href="" class="product-title">
                                                        Cotton Jump Suit
                                                    </a>
                                                    <span class="product-quantity">2 x</span>
                                                    <span class="product-price"><span class="currency">$</span>15.00</span>
                                                    <a href="#" class="product-remove icon-cancel"></a>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <a href="" class="product-thumbnail">
                                                    <img src="" alt="" />
                                                </a>
                                                <div class="product-details">
                                                    <a href="" class="product-title">
                                                        Cotton Jump Suit
                                                    </a>
                                                    <span class="product-quantity">2 x</span>
                                                    <span class="product-price"><span class="currency">$</span>15.00</span>
                                                    <a href="#" class="product-remove icon-cancel"></a>
                                                </div>
                                            </li>
                                            <li class="cart-subtotal">
                                                Sub Total
                                                <span class="amount"><span class="currency">$</span>15.00</span>
                                            </li>
                                            <li class="cart-actions">
                                                <a href="" class="view-cart">View Cart</a>
                                                <a href="" class="checkout button small"><span class="icon-check"></span> Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <div class="dropdown">
                                        <a href="#" class="nav-icon search button no-page-fade"><span class="icon-magnifying-glass"></span></a>
                                        <div class="dropdown-list custom-content cart-overview">
                                            <div class="search-form-container site-search">
                                                <form action="#" method="get" novalidate>
                                                    <div class="row">
                                                        <div class="column width-12">
                                                            <div class="field-wrapper">
                                                                <input type="text" name="search" class="form-search form-element no-margin-bottom" placeholder="type &amp; hit enter...">
                                                                <span class="border"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="form-response"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="aux-navigation">
                                    <a href="#" class="navigation-show side-nav-show nav-icon">
                                        <span class="icon-menu"></span>
                                    </a>
                                </li>


                            </ul>
                        </nav>

                        <nav class="navigation nav-block primary-navigation nav-right">
                            <ul>
                                <li class="">
                                    <a href=>Demos</a>
                                    <ul class="sub-menu" style="opacity: 0.8; color: #7CACB9  ;">
                                        <li class="contains-sub-menu">
                                            <a href="">Mobile Application</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href=>Original</a>
                                                </li>

                                            </ul>
                                        </li>


                                        <li class="contains-mega-sub-menu">

                                            <ul class="mega-sub-menu">



                                            </ul>
                                        </li>
                                    </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Content -->
        <div class="content clearfix"   >

            <!-- Intro Title Section 1 -->

            <!-- Intro Title Section 1 End -->

            <!-- Portfolio Grid -->













            <h1 style="margin-top:15px; text-align:center;"><strong>Vos Produits</strong> </h1>
            <br><br>

            <table id="tableData" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>image</th>
                    <th>first name</th>
                    <th>surname</th>
                    <th>number</th>
                    <th>supprimer</th>
                    <th>modifier</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}" class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Frank</td>
                    <td>Shoulder</td>
                    <td>1246</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>John</td>
                    <td>Jameson</td>
                    <td>4564</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Philip</td>
                    <td>Jenkins</td>
                    <td>4456</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Maria</td>
                    <td>Carlston</td>
                    <td>4456</td>
                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}" class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Julia</td>
                    <td>Tampelton</td>
                    <td>1246</td>
                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>6</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Jane</td>
                    <td>Conor</td>
                    <td>4456</td>
                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>7</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Susan</td>
                    <td>Crane</td>
                    <td>1246</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>8</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}" class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Lucas</td>
                    <td>Fenric</td>
                    <td>4456</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>8</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Mark</td>
                    <td>Fenric</td>
                    <td>4456</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>

                </tr>
                <tr>
                    <td>9</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Hilde</td>
                    <td>Mayer</td>
                    <td>4456</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}" class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>John</td>
                    <td>Tron</td>
                    <td>1246</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}" class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Hans</td>
                    <td>Stark</td>
                    <td>4564</td>
                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>
                </tr>

                <tr>
                    <td>11</td>
                    <td style="width: 10%;"><img src="{{ asset('templateUser/produit/100.jpg') }}"  class="w3-circle" alt="Norway" style="width:100% ; height: 10% ;margin: 0; padding: 0;"></td>
                    <td>Hans</td>
                    <td>Stark</td>
                    <td>4564</td>

                    <td><div class="fa fa-trash" style="font-size:30px;color:red ;" ></div></td>
                    <td><div class="fa fa-refresh" style="font-size:30px;color:#DEB419  ; border: 0px ;"></div></td>
                </tr>
                </tbody>
            </table>
            <script type="text/javascript" src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js') }}"></script>
            <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('templateUser/paging.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#tableData').paging({limit:5});
                });
            </script>
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36251023-1']);
                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ({{ asset('https:') }} == document.location.protocol ? {{ asset('https://ssl') }} :{{ asset('http://www') }} ) + {{ asset('.google-analytics.com/ga.js') }};
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>




































































            <br>











        </div>
    </div>
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}">
    <!-- Js -->
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') }}"></script>
    <script src="{{ asset('http://maps.googleapis.com/maps/api/js?v=3') }}"></script>
    <script src="{{ asset('templateUser/js/timber.master.min.js') }}"></script>






    <script type="text/javascript" src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js') }}"></script>
    <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('templateUser/paging.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tableData').paging({limit:5});
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>











</body>
</html>